.box{
    border: 2px dotted black;
    width: 100px;
    height: 100px;
    
}
nav{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.login-form input{
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.logoinform-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    
}
    
