/* .container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px 200px; */
/* grid-template-columns: 100px 50px 50px 75px 250px; */

/* grid-template-columns: repeat(5, 100px); 
    grid-template-columns: repeat(2, 2fr);
    
    grid-row-gap:10px
    
   

}
.item{
    border: 1px solid tomato;
}
.item-1{
    border: 1px solid tomato;
    
    grid-column: 3/4;
} */
/* .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 50px);
    row-gap: 20px;
    column-gap: 25px;
}

.date,
.day {
    background-color: skyblue;
    border-radius: 5px;
    /* height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.day {
    background-color: lightgray;
    font-size: 1em;
    /* height: 40px; 
} */

.calendaer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 50px);
    gap: 10px;
}

.date,
.day {
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    background-color: lightblue;
}